<div class="mt-4 flex-1 overflow-y-auto">
  <div
    class="text-outline dark:text-inverse-on-surface/60 dark:bg-inverse-surface sticky top-0 z-10 mb-4 bg-white px-2 text-[12px] font-medium tracking-wider uppercase"
  >
    {{ title() }}
  </div>
  <div class="space-y-1" data-points-list role="listbox" aria-label="Puntos de reciclaje">
    @for (item of items; track item.name) {
      <side-navbar-point-list-item
        [type]="item.type"
        [name]="item.name"
        [proximityMeters]="item.proximityMeters"
        [selected]="item.selected"
      />
    }
  </div>
</div>
